input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  max-width: 420px;
}

.input-box {
  background: transparent;
  border-bottom: 2px solid #38f39d;
  color: white;
  letter-spacing: 0.23px;
  margin: 0px;
  padding: 12px 12px 12px 2px;
  width: 100%;
  height: 35px;
}

.nv-button {
  border: 2px solid #38f39d;
  margin-top: 32px;
  box-sizing: border-box;
  border-radius: 6px;
  height: 35.5px;
  width: 200px;
  background: transparent;
  display: flex;
  justify-content: center;
  transition:border 0.5s ease;
  span {
    color: white;
    padding-top: 2px;
    @media only screen and (max-width: 480px) {
      padding-top:4px;
    }

  }
}


.nv-button:hover {
    cursor: pointer;
}

.button-container{
  display:flex;
  justify-content: center
}