input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.input-box {
  background: transparent;
  border-bottom: 2px solid #38f39d;
  color: white;
  padding: 12px 12px 12px 2px;
  height: 38px;
  width: 60vw;
  max-width: 400px;
  margin-right: 16px;
}

.nv-button {
  background-color: #38f39d;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  transition: all 0.25s ease;

  span {
    color: black; 
font-weight: 500;
  }
}

.nv-button:hover {
  cursor: pointer;
  background-color: #2fd487;
  transition: all 0.25s ease;
}
